.preLoan-access-list-global{
    color: #666666;
    font-size: 14px;
}

.preLoan-access-list-btn-group{
    margin-top: 20px;
}

.preLoan-access-list-btn-gray{
    display: block;
    float: left;
    width:68px;
    height:32px;
    line-height: 32px;
    text-align: center;
    border-radius:2px;
    color: #666666;
    border:1px solid rgba(153,153,153,1);
}

.preLoan-access-list-item{
    border: 1px solid #f2f3f5;
    padding: 15px 44px 15px 29px;
    border-radius:4px;
    margin-top: 35px;
    height: 170px;
}

.preLoan-access-list-btn-blue{
    display: block;
    width:42px;
    height:24px;
    line-height: 24px;
    text-align: center;
    font-family:PingFangSC;
    font-weight:400;
    color:rgba(255,255,255,1);
    background:rgba(23,145,255,1);
    border-radius:2px;
}

.preLoan-access-list-row-orange{
    display: block;
    width:56px;
    height:24px;
    line-height: 24px;
    text-align: center;
    font-family:PingFangSC;
    font-weight:400;
    color:rgba(255,255,255,1);
    background:rgba(255,148,23,1);
    border-radius:2px;
}

.preLoan-access-list-row-line{
    margin-top: 15px;
    width:100%;
    height:1px;
    background:rgba(230,230,230,1);
}

.preLoan-access-list-page{
    float: right;
}

.preLoan-access-empty{
    width: 100%;
    height: 20px;
}
