.tbcheck-report-wrapper .outer-table-wrapper {
  table-layout: fixed;
  width: 100%;
  text-align: left;
  font-size: 14px;
  border-left: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
}
.outer-table-wrapper > tbody > tr > th {
  padding: 10px 20px;
  padding-right: 10px;
  vertical-align: top;
  font-weight: normal;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  background: #f2f3f5;
}
.outer-table-wrapper > tbody > tr > td {
  vertical-align: top;
  padding: 10px 20px;
  padding-right: 10px;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
